/* All */

* {
  box-sizing: border-box;
}

/* HTML */

html {
  scroll-behavior: smooth;
}

/* body */

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #eae5e5;
  min-width: 350px;
}

/* Header */

header {
  padding: 10px 15px;
}

.header-first {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  width: 60px;
  margin-right: 10px;
}

.prof {
  height: 54px;
  width: 67px;
}

header h2 {
  color: #6b6b6b;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

header h3 {
  color: #6b6b6b;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
}

/* Projects */

#projects-section {
  padding: 0 12%;
  display: grid;
  grid-template-columns: 100%;
  gap: 15px;
}

.project {
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.project h2 {
  margin: 0;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.project p {
  margin-top: 7px;
}

.project-bottom {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.project-bottom p {
  margin: 0;
  margin-left: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Footer */

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 8px 15px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

footer img {
  width: 40px;
  height: 36px;
}

/* Sidebar */

.sidebar {
  display: none;
  background-color: #fff;
  padding: 10px 15px;
  width: 220px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.logo1 {
  height: 53px;
  width: 100%;
  margin-bottom: 10px;
}

.sidebar div {
  display: flex;
  align-items: center;
  height: 50px;
}

.sidebar div img {
  height: 36px;
  width: 36px;
  margin-right: 10px;
}

.sidebar h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sidebar p {
  position: absolute;
  bottom: 0;
}

.dash {
  border: 1px solid #203d89;
  border-radius: 25px;
  padding: 0 5px;
}

.dash h2 {
  color: #203d89;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  main {
    margin-left: 230px;
  }

  footer {
    display: none;
  }

  .sidebar {
    display: block;
  }

  .logo {
    display: none;
  }

  .prof {
    height: 64px;
    width: 77px;
  }
}

@media screen and (min-width: 600px) and (max-width: 750px) {
  .sidebar {
    width: 200px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1030px) {
  #projects-section {
    padding: 0 7%;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1030px) {
  #projects-section {
    padding: 0 7%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
